@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');


/* 

font-family: 'Manrope',sans-serif;
font-family: 'Inconsolata',monospace;

*/

/* GOLBAL */

.navbg {
    background-color: #111;
    position: fixed !important;
    color: #fff !important;
    z-index: 10;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(85deg, #434343, #262626);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* ---- HEADER SECTION ---- */

#headerWrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.navbar {
    width: 100%;
    padding: 15px 16vw;
    position: absolute;
    top: 0px;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 1.7em;
    color: #fff;
    z-index: 999;
    box-shadow: -2rem 0 3rem -2rem #000;
    transition: 0.4s;
}

.nav-heading {
    font-size: 0.7em;
}


.nav-heading > span {
    color: #af002d;
    font-weight: 800;
    font-size: 1.3em !important;
}

/* navbar for large screen size */

.nav-large {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-large ul {
    display: flex;
}

.nav-large ul li {
    font-size: 0.64em;
    font-family: 'Inconsolata';
    font-style: italic;
    position: relative;
}

.nav-large ul li::before {
    content: '';
    width: 100%;
    position: absolute;
    height: 2px;
    transform: scale(0);
    left: 0;
    bottom: -5px;
    transition: 0.2s ease-out;
    background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
}

.nav-large ul li:hover::before {
    transform: scale(1);
}

.nav-large ul li a {
    padding: 0 0.6em;
    letter-spacing: 1px;
    color: #fff;
}



.navbar #openNav {
    color: #fff;
    cursor: pointer;
    display: none;
}






/* navbar for small screen size  */

.nav-navbar {
    position: fixed;
    top: 0px;
    right: 0;
    background: rgb(94, 94, 94);
    background: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    box-shadow: rgb(119, 119, 119) 1px 1px 0px 0px inset,
            rgba(0, 0, 0, 0.4) 0px 2px 3px 0px inset 0px -3px 0px rgba(0, 0, 0, 0.1),
            0px 3px 0px rgba(0, 0, 0, 0.1) inset 1px 1px 0 #777,
            0 2px 3px rgba(0, 0, 0, .4) !important;
    font-family: 'Manrope';
    width: 0px;
    height: 150vh;
    transition: 0.3s ease-out;
    z-index: 999;
    display: none;
}

.nav-items {
    padding: 30px 20px 10px;
}

.nav-items li {
    padding-top: 10px;
    position: relative;
    border: none;
}

.nav-items li::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
}

.nav-items li a {
    font-family: 'Inconsolata';
    color: #fff;
    font-size: 0.6em;
    font-weight: 600;
}

.nav-navbar #closeNav {
    color: #fff;
    position: absolute;
    cursor: pointer;
    top: 30px;
    right: 30px;
    cursor: pointer;
    display: none;
}

.currentProject {
    width: 100%;
    padding: 30px;
}

.currentProject p {
    font-size: 0.6em;
    color: #af002d;
}

.nav-navbar .currentProject .project-name a {
    color: #fff;
    font-size: 0.5em;
}

.currentProject img {
    width: 100%;
}


/* ---- header section ---- */

.header-content {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.left-header {
    padding-top: 180px;
    width: 50%;
    font-family: 'Manrope';
    padding-left: 16vw;
}

.header-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-row i {
    font-size: 1.3em;
    color: #af002d;
}


.header-row span {
    padding-left: 10px;
    letter-spacing: 2px;
    color: #fff;
    font-family: 'Inconsolata';
    font-size: 1em;
}

.left-header h1 {
    font-size: 3.2em;
    color: #fff;
}


.left-header .my-name {
    padding-top: 28px;
    color: #ff7a18;
    padding-bottom: 20px;
}


.left-header p {
    font-family: 'Inconsolata';
    color: #fff;
    font-weight: 300;
    padding-right: 5vw;
    font-size: 1.15em;
    padding-top: 25px;
    line-height: 1.8em;
}


.left-header .header-btn {
    font-size: 0.8em;
    font-weight: 600;
    color: #fff;
    padding: 17px 57px 15px 20px;
    border-radius: 40px;
    position: relative;
    cursor: pointer;
    background: rgb(94, 94, 94);
    background: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    margin-top: 50px;
    border: 2px solid #777;
    box-shadow: rgb(119, 119, 119) 1px 1px 0px 0px inset,
            rgba(0, 0, 0, 0.4) 0px 2px 3px 0px inset 0px -3px 0px rgba(0, 0, 0, 0.1),
            0px 3px 0px rgba(0, 0, 0, 0.1) inset 1px 1px 0 #777,
            0 2px 3px rgba(0, 0, 0, .4) !important;
}



.header-btn > i {
    position: absolute;
    right: 0px;
    top: -1px;
    text-align: center;
    width: 50px;
    line-height: 40px;
    border-radius: 50%;
    height: 50px;
    background: #111;
    color: #fff;
    font-weight: 500;
    border: none;
}



.right-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
}



/* animation section */

.right-container {
    width: 400px;
    height: 400px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1300px;
    perspective-origin: top right;
    
}


/* The child element, with 3D tranforms preserved */
.cube {
    top: 100px;
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: cubeRotate 20s linear infinite;
    transition: 0.5s ease-in;
}

.top > img {
    width: 100%;
    transition: 0.5s ease-out;
    transform: translateY(200px) scale(0);
    border: none;
    border-radius: 8px;
}

.cube:hover {
    animation: unset !important;
    top: 180px !important;
}

.cube:hover > .top{
    transform: translateY(-200px) rotateY(180deg) rotateZ(-360deg);
    opacity: 1 !important;
}

.cube:hover > .front { transform: translateZ(120px);}
.cube:hover > .back { transform: translateZ(-120px);}
.cube:hover > .left { transform: rotateY(90deg) translateZ(-120px);}
.cube:hover > .right { transform: rotateY(-90deg) translateZ(-120px);}

.cube:hover > .top img {
    transform: translateY(0px) scale(1.1);
}

 @keyframes cubeRotate {
     form {
         transform: rotateY(0deg) rotateX(720deg) rotateZ(0deg);
     }

     to {
         transform: rotateY(360deg) rotateX(0deg) rotateZ(360deg);
     }
 }

@keyframes shrink {
    100%, 0% {
        transform: scaleY(1);
    }

    50% { transform: scaleY(0.8); animation-timing-function: ease-in;}
}


/* The sides of the cube, absolutely positioned */
.side {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.9;
}


/* Background colors for the cube's sides to help visualize the work */
.front, .back, .left, .right, .top, .bottom {
    background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
}

.front {
    transform: translateZ(100px);
    transition: 0.2s;
}

.back {
    transform: translateZ(-100px);
    transition: 0.2s;
    transition-delay: 0.2s;
}

.left {
    transform: rotateY(90deg) translateZ(100px);
    transition: 0.2s;
    transition-delay: 0.4s;
}

.right {
    transition: 0.2s;
    transform: rotateY(-90deg) translateZ(100px);
    transition-delay: 0.4s;

}

.top {
    transform: rotateX(90deg) translateZ(100px);
    transition: 0.4s ease-in;
}

.bottom {
    transform: rotateX(-90deg) translateZ(100px);
}






/* ---- ABOUT SECTION ---- */

#aboutWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 120px 16vw;
    font-family: 'Manrope';
}

.content-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content-row span {
    font-size: 1em;
    padding-left: 20px;
    font-family: 'Inconsolata' !important;
    letter-spacing: 2px;
    color: #ff7a18;
}

.about-left h2 {
    font-size: 2.5em;
    font-weight: 700;
    padding-top: 25px;
    padding-right: 20px;
    color: #fff;
}

.about-left {
    width: 50%;
}

.about-right {
    width: 50%;
}

.about-right p {
    font-family: 'Inconsolata';
    line-height: 1.8em;
    font-size: 1.15em;
    padding-bottom: 20px;
    color: #fff;
    font-weight: 300;
}

.about-btn {

    padding: 15px 15px;
    width: 200px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    background: rgb(94, 94, 94);
    background: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    border: none;
    box-shadow: rgb(119, 119, 119) 1px 1px 0px 0px inset,
        rgba(0, 0, 0, 0.4) 0px 2px 3px 0px inset 0px -3px 0px rgba(0, 0, 0, 0.1),
        0px 3px 0px rgba(0, 0, 0, 0.1) inset 1px 1px 0 #777,
        0 2px 3px rgba(0, 0, 0, .4) !important;
    border-radius: 4px;
    margin-top: 50px;

    transition: 0.2s ease-in;
}

.about-btn > i {
    padding-left: 5px;
}

.about-btn:hover {
    transform: translate(-5px);
    box-shadow: -2rem 0 3rem -2rem #000 !important;
}







/* ---- SKILL SECTION ---- */

#skillWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 120px 16vw;
    font-family: 'Manrope';
}

.skill-left,
.skill-right {
    width: 50%;
}

.skill-left {
    color: #fff;
}

.skill-left > .content-row span {
    color: #ff7a18;
}

.skill-left h2 {
    font-size: 2.5em;
    font-weight: 700;
    padding-top: 25px;
    padding-right: 50px;
}

.skill-right p {
    color: #fff;
    line-height: 1.8em;
    font-size: 1.15em;
    padding-bottom: 20px;
    font-weight: 300;
    font-family: 'Inconsolata';
}

.progress {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.progress-header {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    color: #ff7a18;
    margin-bottom: 10px;
    font-family: 'Inconsolata';
}

.progress-bar {
    width: 100%;
    height: 2px;
    background: #f8f8f8;
}

.progress-bar .percentage {
    background: #cf2e2e;
    height: 100%;
}

/* PORTFOLIO SECTION */

#portfolioWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 100px 16vw;
    font-family: 'Manrope';
    background: linear-gradient(85deg, #434343, #262626);

}

#portfolioWrapper h2 {
    font-size: 2.5em;
    font-weight: 700;
    margin-top: 25px;
    padding: 5px 50px;
    border-radius: 8px;
    color: #fff;
    background: rgb(94, 94, 94);
    background: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
}

#portfolioWrapper .content-row span {
    color: #ff7a18;
}

.active {
    color: #af002d !important;
    font-weight: 600;
}

.portfolio-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.portfolio-links {
    display: flex;
}

.portfolio-links a {
    font-size: 1.15em;
    font-family: 'Inconsolata';
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    position: relative;
    margin: 20px;
}

.portfolio-links a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    transform: scale(0);
    height: 2px;
    background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
    transition: 0.1s ease-out;
}

.portfolio-links a:hover::before {
    transform: scale(1);
}

.portfolios {
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 50px;
}

.portfolio-items {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    border: 10px solid #111;
    transition: 0.3s ease-in;
}

.portfolio-items:hover {
    box-shadow: 1rem 1em 3rem 1rem #cf2e2e;
}

@keyframes shakeflip {
    0% {
        transform: rotateY(-40deg);
    }

    100% {
        transform: rotateY(50deg);
    }
}



.portfolio-items a {
    font-family: 'Inconsolata';
    position: absolute;
    color: #fff;
    font-size: 0.8em;
    padding: 5px;
    z-index: 5;
    background-color: #111;
    left: 0px;
    bottom: -10px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}

.portfolio-items:hover a {
    left: 10px;
    bottom: 10px;
    opacity: 1;
    visibility: visible;
}

.portfolio-items::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}

.portfolio-items::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}

.portfolio-items:hover::before {
    width: 0;
    opacity: 1;
    visibility: visible;
}

.portfolio-items:hover::after {
    width: 0;
    opacity: 1;
    visibility: visible;
}

.portfolio-items img {
    width: 100%;
    border: none;
    transition: 0.3s ease;
    height: 100%;
}

.portfolio-btn {

    padding: 15px 15px;
    width: 200px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    background: rgb(94, 94, 94);
    background: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    border: none;
    box-shadow: rgb(119, 119, 119) 1px 1px 0px 0px inset,
        rgba(0, 0, 0, 0.4) 0px 2px 3px 0px inset 0px -3px 0px rgba(0, 0, 0, 0.1),
        0px 3px 0px rgba(0, 0, 0, 0.1) inset 1px 1px 0 #777,
        0 2px 3px rgba(0, 0, 0, .4) !important;
    border-radius: 4px;
    margin-top: 50px;
    transition: 0.2s ease-in;
}

.portfolio-btn > i {
    padding-left: 5px;
}

.portfolio-btn:hover {
    transform: translate(-5px);
    box-shadow: -2rem 0 3rem -2rem #000 !important;
}





/* ---- TESTIMONIAL SECTION ---- 

#testimonialWrapper {
    display: flex;
    justify-content: center;
    background-color: #f5f2f0;
    font-family: 'Manrope';
}

.testimonial-left {
    width: 38%;
}

.testimonial-left img {
    width: 100%;
}

.testimonial-right {
    width: 65%;
    padding: 100px 150px;
}

.testimonial-right>p {
    padding-top: 50px;
    color: #282828;
    line-height: 1.8em;
    font-size: 1.3em;
    padding-bottom: 20px;
    font-weight: 300;
}

.testimonial-right .users {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.users p {
    color: #111;
    font-size: 1.2em;
    font-weight: 500;
}

.users>span {
    color: #737373;
    font-size: 0.8em;
    font-weight: 500;
}  

*/

/* TESTIMONIAL SECTION */


#testimonialWrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Manrope';
    width: 100%;
    height: 550px;
    padding: 50px 0;
    color: #f1f1f1;
    padding: 50px 5vw;
    background: linear-gradient(85deg, #434343, #262626);
}

.testimonial-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
    height: 100%;
    flex-wrap: wrap;
}

.input-field {
    width: 30%;
    height: 100%;
    border-radius: 8px;
    padding: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
}

.input-field .input-layer {
    background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}



.input-field form {
    background: #111;
    padding: 20px;
    position: absolute;
    width: 97%;
    height: 97%;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.input-field form input {
    outline: none;
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    color: #111;
    font-size: 0.8em;
    font-family: 'Inconsolata';
    font-weight: 600;
    margin-top: 10px;
}

.input-field form textarea {
    margin-top: 12px;
    padding: 12px 20px;
    width: 100%;
    height: 100px;
}



.testimonial-btn {
    padding: 10px 10px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    background: rgb(94, 94, 94);
    background: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    border: 2px solid #fff;
    box-shadow: rgb(119, 119, 119) 1px 1px 0px 0px inset,
        rgba(0, 0, 0, 0.4) 0px 2px 3px 0px inset 0px -3px 0px rgba(0, 0, 0, 0.1),
        0px 3px 0px rgba(0, 0, 0, 0.1) inset 1px 1px 0 #777,
        0 2px 3px rgba(0, 0, 0, .4) !important;
    border-radius: 4px;
    margin-top: 15px;
}

.testimonial-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 65%;
    height: 100%;
    padding: 0px 0 50px;
    overflow-x: scroll;
}

.testimonial-item {
    z-index: 5;
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    left: 0;
    padding: 30px;
    border-radius: 10px;
    color: #fff;
    background: linear-gradient(85deg, #434343, #262626);
    box-shadow: -2rem 0 3rem -2rem #000;
    transition: 0.4s ease-in;
}

.testimonial-user {
    margin-top: 3em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ff7a18;
}

.user-name {
    font-family: 'Manrope';
    font-size: 0.8em;
    padding-left: 20px;
    font-weight: 600;
}

.testimonial-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ff7a18;
    overflow: hidden;
}

.testimonial-img img {
    width: 100%;
    height: 100%;
}

.testimonial-item:hover {
    z-index: 100;
    animation: shake 0.5s;
    transform: rotate(15deg);
    top: -20px;
}

@keyframes shake {
    0% {transform: rotateZ(15deg);}


    50% {transform: rotateZ(-15deg);}

    100% {transform: rotateZ(15deg);}

}

.testimonial-item:hover .t-item2 {
    margin-left: 100px;
}

.t-item2 {
    left: 150px;
}

.t-item3 {
    left: 300px;
}

.t-item4 {
    left: 450px;
}

.t-item5 {
    left: 600px;
}





/* ---- AWARD SECTION ---- */


#awardWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 16vw;
}


#awardWrapper h2 {
    font-size: 2.5em;
    font-weight: 700;
    margin-top: 25px;
    font-family: 'Manrope';
    padding: 5px 50px;
    border-radius: 8px;
    color: #fff;
    background: rgb(94, 94, 94);
    background: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
}

.award-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    font-family: 'Manrope';
}

.award {
    width: 30%;
    border-bottom: 1px solid #828282;
    padding: 30px 0;
}

.award p {
    font-size: 1.15em;
    font-weight: 500;
    padding-bottom: 5px;
    color: #fff;
    font-family: 'Inconsolata';
}

.award span {
    font-size: 0.9em;
    font-family: 'Inconsolata';
    font-weight: 300;
    color: #ff7a18;
}

/* ---- BLOGS SECTION ----*/

#blogWrapper {
    width: 100%;
    padding: 100px 16vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


#blogWrapper h2 {
    font-size: 2.5em;
    font-weight: 700;
    margin-top: 25px;
    font-family: 'Manrope';
    padding: 5px 50px;
    border-radius: 8px;
    color: #fff;
    background: rgb(94, 94, 94);
    background: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
}

.blog-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
    flex-wrap: wrap;

}

.blog-box .blog {
    border-right: 1px solid #e3e3e3;
    padding-right: 1vw;
    font-family: 'Manrope';
    padding-left: 1vw;
    width: 25%;
}

.blog:first-child {
    padding-left: unset;
}

.blog p {
    color: #ff7a18;
    font-weight: 500;
    font-size: 1em;
    padding-bottom: 20px;
    font-family: 'Inconsolata';
}

.blog a:hover {
    color: #fff;
    font-weight: 700;
}

.blog a i {
    padding-left: 5px;
}

.blog a {
    color: #319197;
    font-family: 'Inconsolata';
    font-weight: 400;
    font-size: 0.8em;
}

/* ---- FOOTER SECTION ---- */

#footerWrapper {
    width: 100%;
    padding: 100px 16vw;
    font-family: 'Manrope';
}

.footer-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.footer-heading h1 {
    font-size: 3.2em;
    color: #fff;
    font-weight: 700;
    width: 50%;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    align-items: center;
}

.footer-left,
.footer-right {
    width: 47%;
}

.footer-links .footer-left p {
    font-size: 1.15em;
    line-height: 1.8em;
    font-family: 'Inconsolata';
    color: #ff7a18;
}

.footer-links .footer-left .social-links {
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
}

.footer-links .footer-left .social-links .social a {
    color: #319197;
    font-size: 0.8em;
    position: relative;
    font-weight: 700;
}

.social {
    margin-left: 20px;
}

.footer-links .footer-left .social-links .social a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #cf2e2e;
    right: 0;
    bottom: -5px;
}


.social:first-child {
    margin-left: 0 !important;
}

.social i {
    padding-right: 5px;
    color: #fff;
}

.footer-right a {
    color: #319197;
    font-weight: 500;
    font-size: 2em;
    position: relative;
}

.footer-right a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #cf2e2e;
    left: 0;
    bottom: -5px;
}